<%- include ("../partials/header") -%>


<div class="container">
<header class="jumbotron">
   <div class="container">
    <h1>Welcome to Travely</h1>
    <p>Explore and Share Travel Stories From Around The World</p>

    <p>
        <a class="btn btn-primary btn-large" href="/post/new">Add New Post</a>
    </p>
</div>
</header>

<div class="row" >

    <% post.forEach(element => { %>
       
        <div class="col-md-3 col-sm-6">
          
        
                <img class="img-thumbnail" src="<%= element.image %>" >
                <div class="caption text-center">
                <p><%= element.name %> </p>
                </div>
                <p>
                    <a href="/post/<%= element._id %>" class="btn btn-primary">view</a>
                </p>
             </div>
        
            <%});%>
        
        
    </div>

</div>



</div>
 <%- include("../partials/footer")-%>