<%-include('../partials/header')-%>
<div class="container">
<div class="row justify-content-center">
   <div class="col-md-9 card-helper2">
        <div class="card">
        <div class="card-header">
            <h5 class="text-center"><%= post.name %> </h5>
        </div>
           <img class="card-img-top img-helper" src="/<%= post.image %>">
           <div class="card-body">
               <p class="card-text"><%= post.description%> </p>
               <p>
                    <em>Posted By   <%= post.author.username %> </em>
                </p>
                <% if(currentUser&&post.author.id.equals(currentUser._id)) { %> 
                    <a class="fas fa-pencil-alt edit-helper" href="/post/<%= post._id %>/edit" >Edit</a>
                    <form id="form1" action="/post/<%=post._id%>/?_method=DELETE" method="POST" >
                        <button class="fas fa-trash-alt delete-helper">Delete</button>
                    </form>
                <% } %> 
           </div>
        </div>
        <div class="card card-body bg-light">
                <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="fas fa-pencil-alt add-helper" href="/post/<%= post._id%>/comments/new">Add New Comment</button>
                   <% post.comments.forEach((comment)=>{ %>
                    <div class="card mt-3">
                        <div class="card-body">
                            <p><%= comment.content%></p>
                                <footer class="blockquote-footer"><%= comment.author.username %></footer>
                             <% if(currentUser&&comment.author.id.equals(currentUser._id)) { %> 
                            <a class="fas fa-pencil-alt edit-helper" href="/post/<%= post._id %>/comments/<%=comment._id%>/edit">Edit</a>
                            <form  id="form1"action="<%= post._id %>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                <button class="fas fa-trash-alt delete-helper">Delete</button>
                            </form>
                        <% } %> 
                        </div>
                    </div>
                    
                   <% }) %>
        </div>
    </div>
</div>

</div>
<div class="text-center">
</div>
<p>
</p>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">Add New Comment</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
             <form action="/post/<%=post._id%>/comments" method="POST" method="POST">
             <div class="form-group"> <input  class="form-control" type="text" placeholder="Comment" name="content"></div>
            <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            <div ><button class="btn btn-success" type="submit" name="submit" placeholder="Create">Comment</button></button></div>
        </form>
      </div>
      </div>
  </div>
</div>


<%- include('../partials/footer')  -%>

